.textArea{
    margin: 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#textbox{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(51, 51, 51, 0.9);
    color: #fff;
    font-size: 1.2rem;
    padding-left: 20px;
}

#textbox:focus,
button:hover {
  box-shadow: 0 0 5px #9381FF;
  transition: 0.3s;
}

#textbox::placeholder{
    text-align: center;
}

button{
    border-radius: 10px;
    font-size: 1rem;
    color: #fff;
    background: rgba(51, 51, 51, 0.9);
    border: none;
    outline: none;
    cursor:  pointer;
    padding: 15px;
    width: 15%;
}

